<ion-view view-title="Penilaian" hide-nav-bar="true" >

<ion-header-bar class="bar bar-royal">
<button class="button icon-left ion-chevron-left button-clear" ng-click="bmax()">Bmax</button>
     <h1 class="title">Penilaian</h1>
     
 </ion-header-bar>

<ion-footer-bar class="bar bar-positive">
<button class="button button-light button-clear no-animation"
                  ng-click="startApp()" ng-show="!slideIndex">
            
          </button>
<button class="button icon-left ion-chevron-left button-light button-clear no-animation" ng-click="sebelumnya()" ng-show="slideIndex > 0">Kembali</button>
<button class="button icon-right ion-chevron-right button-light button-clear no-animation pull-right" ng-click="seterusnya()" ng-show="slideIndex != 13">Seterusnya</button>
<button class="button  button-light button-clear no-animation" ng-click="seterusnya()" ng-show="slideIndex == 13"></button>


 </ion-footer-bar>
<ion-content>

<form name="keneIsi">
<ion-slide-box on-slide-changed="slideChanged($index)">

<ion-slide>
      <div class = "box box0">
      <div class="card">
      <div class="item item-divider item-text-wrap">
      <h1><center>Maklumat Diri</center></h1>
      <br/>
      <center>Sila isi maklumat anda</center>
      </div>
 <label></label> 
<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Nama Staff</span>
    <input type="text" placeholder="Nama Staff" ng-model="data.name" required>
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">No. Kakitangan</span>
    <input type="number" placeholder="No. Kakitangan" ng-model="data.no" required>
  </label>



  <label class="item item-input item-select">
    <div class="input-label">
      Pilih kursus
    </div>
    <select ng-model="data.select" required>
      <option ng-repeat="item in data" value="{{item.id}}">{{item.nama+"&nbsp, mula: "+item.mula+"&nbsp, tamat: "+item.tamat+"&nbsp, tempat: "+item.tempat}}</option>
    </select>
  </label>

  </div>
</div>

</div>

   </ion-slide>



   <ion-slide>
      <div class = "box box1">
      <p>
      <div class="card">
       <div class="item item-divider item-text-wrap">
       
       <h1><i class="icon ion-chatbubble"></i> Soalan 1</h1>
       <br>
      1. Objektif kursus & pengetahuan 
      yang bakal diperolehi dinyatakan dengan dengan jelas
   </div>
   

<div class="item item-text-wrap">
<ion-radio name="q1" ng-model="data.choiceq1" ng-value="'4'" required> <img src="IcoMoon-Free-master/PNG/32px/224-happy.png"> Sangat Baik</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq1" ng-value="'3'" required><img src="IcoMoon-Free-master/PNG/32px/226-smile.png"> Baik</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq1" ng-value="'2'" required><img src="IcoMoon-Free-master/PNG/32px/248-neutral.png"> Memuaskan</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq1" ng-value="'1'" required><img src="IcoMoon-Free-master/PNG/32px/238-angry.png"> Kurang memuaskan</ion-radio>
</div>

   </div>
</p>
</div>
  
      
   </ion-slide>

   <ion-slide>
      <div class = "box box2">
      <p>
      <div class="card">
       <div class="item item-divider item-text-wrap">
       
       <h1><i class="icon ion-chatbubble"></i> Soalan 2</h1>
       <br>


        2. Kandungan kursus tersusun dan mudah difahami</div>
   

<div class="item item-text-wrap">
<ion-radio name="q1" ng-model="data.choiceq2" ng-value="'4'" required> <img src="IcoMoon-Free-master/PNG/32px/224-happy.png"> Sangat Baik</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq2" ng-value="'3'" required><img src="IcoMoon-Free-master/PNG/32px/226-smile.png"> Baik</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq2" ng-value="'2'" required><img src="IcoMoon-Free-master/PNG/32px/248-neutral.png"> Memuaskan</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq2" ng-value="'1'" required><img src="IcoMoon-Free-master/PNG/32px/238-angry.png"> Kurang memuaskan</ion-radio>
</div>

   </div>
   </div>
</p>
</div>
  </ion-slide>

  <ion-slide>
      <div class = "box box3">
      <p>
      <div class="card">
       <div class="item item-divider item-text-wrap">
       <h1><i class="icon ion-chatbubble"></i> Soalan 3</h1>
       <br>
         3. Pengurusan kursus
      </div>
<div class="item item-text-wrap">
<ion-radio name="q1" ng-model="data.choiceq3" ng-value="'4'" required> <img src="IcoMoon-Free-master/PNG/32px/224-happy.png"> Sangat Baik</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq3" ng-value="'3'" required><img src="IcoMoon-Free-master/PNG/32px/226-smile.png"> Baik</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq3" ng-value="'2'" required><img src="IcoMoon-Free-master/PNG/32px/248-neutral.png"> Memuaskan</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq3" ng-value="'1'" required><img src="IcoMoon-Free-master/PNG/32px/238-angry.png"> Kurang memuaskan</ion-radio>
</div>

   </div>
   </div>
</p>
</div>
  </ion-slide>


    <ion-slide>
      <div class = "box box4">
      <p>
      <div class="card">
       <div class="item item-divider item-text-wrap">
       <h1><i class="icon ion-chatbubble"></i> Soalan 4</h1>
       <br>
         4. Lokasi kursus
          </div>
<div class="item item-text-wrap">
<ion-radio name="q1" ng-model="data.choiceq4" ng-value="'4'" required> <img src="IcoMoon-Free-master/PNG/32px/224-happy.png"> Sangat Baik</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq4" ng-value="'3'" required><img src="IcoMoon-Free-master/PNG/32px/226-smile.png"> Baik</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq4" ng-value="'2'" required><img src="IcoMoon-Free-master/PNG/32px/248-neutral.png"> Memuaskan</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq4" ng-value="'1'" required><img src="IcoMoon-Free-master/PNG/32px/238-angry.png"> Kurang memuaskan</ion-radio>
</div>
 
   </div>
   </div>
</p>
</div>
  </ion-slide>


    <ion-slide>
      <div class = "box box5">
         <p>
      <div class="card">
       <div class="item item-divider item-text-wrap">
       <h1><i class="icon ion-chatbubble"></i> Soalan 5</h1>
       <br>
        5. Penyampaian penceramah sesuai dengan penerimaan peserta
         </div>
<div class="item item-text-wrap">
<ion-radio name="q1" ng-model="data.choiceq5" ng-value="'4'" required> <img src="IcoMoon-Free-master/PNG/32px/224-happy.png"> Sangat Baik</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq5" ng-value="'3'" required><img src="IcoMoon-Free-master/PNG/32px/226-smile.png"> Baik</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq5" ng-value="'2'" required><img src="IcoMoon-Free-master/PNG/32px/248-neutral.png"> Memuaskan</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq5" ng-value="'1'" required><img src="IcoMoon-Free-master/PNG/32px/238-angry.png"> Kurang memuaskan</ion-radio>
</div>

   </div>
   </div>
</p>
</div>
  </ion-slide>




    <ion-slide>
      <div class = "box box6">
        <p>
      <div class="card">
       <div class="item item-divider item-text-wrap">
       <h1><i class="icon ion-chatbubble"></i> Soalan 6</h1>
       <br>
         6. Penceramah mempunyai pengetahuan/kemahiran yang luas tentang topik yang diajar
          </div>
<div class="item item-text-wrap">
<ion-radio name="q1" ng-model="data.choiceq6" ng-value="'4'" required> <img src="IcoMoon-Free-master/PNG/32px/224-happy.png"> Sangat Baik</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq6" ng-value="'3'" required><img src="IcoMoon-Free-master/PNG/32px/226-smile.png"> Baik</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq6" ng-value="'2'" required><img src="IcoMoon-Free-master/PNG/32px/248-neutral.png"> Memuaskan</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq6" ng-value="'1'" required><img src="IcoMoon-Free-master/PNG/32px/238-angry.png"> Kurang memuaskan</ion-radio>
</div>

   </div>
   </div>
</p>
</div>
  </ion-slide>



    <ion-slide>
      <div class = "box box7">
         <p>
      <div class="card">
       <div class="item item-divider item-text-wrap">
       <h1><i class="icon ion-chatbubble"></i> Soalan 7</h1>
       <br>
         7. Penceramah mengalakkan peserta bertanya dan bertukar pendapat 
          </div>
<div class="item item-text-wrap">
<ion-radio name="q1" ng-model="data.choiceq7" ng-value="'4'" required> <img src="IcoMoon-Free-master/PNG/32px/224-happy.png"> Sangat Baik</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq7" ng-value="'3'" required><img src="IcoMoon-Free-master/PNG/32px/226-smile.png"> Baik</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq7" ng-value="'2'" required><img src="IcoMoon-Free-master/PNG/32px/248-neutral.png"> Memuaskan</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq7" ng-value="'1'" required><img src="IcoMoon-Free-master/PNG/32px/238-angry.png"> Kurang memuaskan</ion-radio>
</div>

   </div>
</p>
</div>
  </ion-slide>

    <ion-slide>
      <div class = "box box8">
        <p>
      <div class="card">
       <div class="item item-divider item-text-wrap">
       <h1><i class="icon ion-chatbubble"></i> Soalan 8</h1>
       <br>
        8. Alat bantuan mengajar digunakan sepenuhnya
         </div>
<div class="item item-text-wrap">
<ion-radio name="q1" ng-model="data.choiceq8" ng-value="'4'" required> <img src="IcoMoon-Free-master/PNG/32px/224-happy.png"> Sangat Baik</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq8" ng-value="'3'" required><img src="IcoMoon-Free-master/PNG/32px/226-smile.png"> Baik</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq8" ng-value="'2'" required><img src="IcoMoon-Free-master/PNG/32px/248-neutral.png"> Memuaskan</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq8" ng-value="'1'" required><img src="IcoMoon-Free-master/PNG/32px/238-angry.png"> Kurang memuaskan</ion-radio>
</div>

   </div>
   </div>
</p>
</div>
  </ion-slide>

    <ion-slide>
      <div class = "box box9">
        <p>
      <div class="card">
       <div class="item item-divider item-text-wrap">
       <h1><i class="icon ion-chatbubble"></i> Soalan 9</h1>
       <br>
         9. Penceramah mengemukakan soalan/latihan/aktiviti untuk menguji kefahaman
        </div>
<div class="item item-text-wrap">
<ion-radio name="q1" ng-model="data.choiceq9" ng-value="'4'" required> <img src="IcoMoon-Free-master/PNG/32px/224-happy.png"> Sangat Baik</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq9" ng-value="'3'" required><img src="IcoMoon-Free-master/PNG/32px/226-smile.png"> Baik</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq9" ng-value="'2'" required><img src="IcoMoon-Free-master/PNG/32px/248-neutral.png"> Memuaskan</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq9" ng-value="'1'" required><img src="IcoMoon-Free-master/PNG/32px/238-angry.png"> Kurang memuaskan</ion-radio>
</div>

   </div>
   </div>
</p>
</div>
  </ion-slide>

    <ion-slide>
      <div class = "box box10">
         <p>
      <div class="card">
       <div class="item item-divider item-text-wrap">
       <h1><i class="icon ion-chatbubble"></i> Soalan 10</h1>
       <br>
        10. Nilai kemahiran / pengetahuan sebelum kursus
          </div>
<div class="item item-text-wrap">
<ion-radio name="q1" ng-model="data.choiceq10" ng-value="'4'" required> <img src="IcoMoon-Free-master/PNG/32px/224-happy.png"> Sangat Baik</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq10" ng-value="'3'" required><img src="IcoMoon-Free-master/PNG/32px/226-smile.png"> Baik</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq10" ng-value="'2'" required><img src="IcoMoon-Free-master/PNG/32px/248-neutral.png"> Memuaskan</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq10" ng-value="'1'" required><img src="IcoMoon-Free-master/PNG/32px/238-angry.png"> Kurang memuaskan</ion-radio>
</div>
 
   </div>
   </div>
</p>
</div>
  </ion-slide>


    <ion-slide>
      <div class = "box box11">
         <p>
      <div class="card">
       <div class="item item-divider item-text-wrap">
       <h1><i class="icon ion-chatbubble"></i> Soalan 11</h1>
       <br>
        11. Nilai kemahiran / pengetahuan selepas kursus
         </div>
<div class="item item-text-wrap">
<ion-radio name="q1" ng-model="data.choiceq11" ng-value="'4'" required> <img src="IcoMoon-Free-master/PNG/32px/224-happy.png"> Sangat Baik</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq11" ng-value="'3'" required><img src="IcoMoon-Free-master/PNG/32px/226-smile.png"> Baik</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq11" ng-value="'2'" required><img src="IcoMoon-Free-master/PNG/32px/248-neutral.png"> Memuaskan</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq11" ng-value="'1'" required><img src="IcoMoon-Free-master/PNG/32px/238-angry.png"> Kurang memuaskan</ion-radio>
</div>

   </div>
   </div>
</p>
</div>
  </ion-slide>


    <ion-slide>
      <div class = "box box12">
        <p>
      <div class="card">
       <div class="item item-divider item-text-wrap">
       <h1><i class="icon ion-chatbubble"></i> Soalan 12</h1>
       <br>
         12. Kegunaan pengetahuan yang diperolehi dalam tugas jabatan
           </div>
<div class="item item-text-wrap">
<ion-radio name="q1" ng-model="data.choiceq12" ng-value="'4'" required> <img src="IcoMoon-Free-master/PNG/32px/224-happy.png"> Sangat Baik</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq12" ng-value="'3'" required><img src="IcoMoon-Free-master/PNG/32px/226-smile.png"> Baik</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq12" ng-value="'2'" required><img src="IcoMoon-Free-master/PNG/32px/248-neutral.png"> Memuaskan</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq12" ng-value="'1'" required><img src="IcoMoon-Free-master/PNG/32px/238-angry.png"> Kurang memuaskan</ion-radio>
</div>
 
   </div>
   </div>
</p>
</div>
  </ion-slide>



    <ion-slide>
      <div class = "box box12">
         <p>
      <div class="card">
       <div class="item item-divider item-text-wrap">
       <h1> Cadangan/Penambahbaikan</h1>
       <br>
         Jika anda mempunyai sebarang cadangan/penambaikan sila isi dibahagian yang telah disediakan. 
           </div>
<div class="item item-text-wrap">
 <textarea class="boxsizingBorder" ng-model="data.qcadangan" > </textarea>
</div>
 <div class="item item-divider">
     <button class="button button-calm button-block" ng-click="appButang(data); appButang2(data);" ng-disabled="keneIsi.$invalid">Klik untuk Hantar</button>
   </div>
   </div>
</p>
</div>

  </ion-slide>



</ion-slide-box>

 </ion-content>



</ion-view>