<ion-view view-title="Penilaian" hide-nav-bar="true" >

<ion-header-bar class="bar bar-royal">
<button class="button icon-left ion-chevron-left button-clear" ng-click="bmax()">Bmax</button>
     <h1 class="title">Evaluation</h1>
     
 </ion-header-bar>

<ion-footer-bar class="bar bar-positive">
<button class="button button-light button-clear no-animation"
                  ng-click="startApp()" ng-show="!slideIndex">
            
          </button>
<button class="button icon-left ion-chevron-left button-light button-clear no-animation" ng-click="sebelumnya()" ng-show="slideIndex > 0">Back</button>
<button class="button icon-right ion-chevron-right button-light button-clear no-animation pull-right" ng-click="seterusnya()" ng-show="slideIndex != 13">Next</button>
<button class="button  button-light button-clear no-animation" ng-click="seterusnya()" ng-show="slideIndex == 13"></button>


 </ion-footer-bar>
<ion-content>

<form name="keneIsi">
<ion-slide-box on-slide-changed="slideChanged($index)">

<ion-slide>
      <div class = "box box0">
      <div class="card">
      <div class="item item-divider item-text-wrap">
      <h1><center>User's information</center></h1>
      <br/>
      <center>Fill your name</center>
      </div>
 <label></label> 
<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Name</span>
    <input type="text" placeholder="Participant Name" ng-model="data.name" required>
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Participant Id</span>
    <input type="number" placeholder="Participant Id" ng-model="data.no" required>
  </label>



  <label class="item item-input item-select">
    <div class="input-label">
      Choose
    </div>
    <select ng-model="data.select" required>
      <option ng-repeat="item in data" value="{{item.id}}">{{item.nama+"&nbsp, mula: "+item.mula+"&nbsp, tamat: "+item.tamat+"&nbsp, tempat: "+item.tempat}}</option>
    </select>
  </label>

  </div>
</div>

</div>

   </ion-slide>



   <ion-slide>
      <div class = "box box1">
      <p>
      <div class="card">
       <div class="item item-divider item-text-wrap">
       
       <h1><i class="icon ion-chatbubble"></i> Question 1</h1>
       <br>
      1. The objective of the course and knowledge that would be obtained with clearly stated
   </div>
   

<div class="item item-text-wrap">
<ion-radio name="q1" ng-model="data.choiceq1" ng-value="'4'" required> <img src="IcoMoon-Free-master/PNG/32px/224-happy.png"> Very Good</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq1" ng-value="'3'" required><img src="IcoMoon-Free-master/PNG/32px/226-smile.png"> Good</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq1" ng-value="'2'" required><img src="IcoMoon-Free-master/PNG/32px/248-neutral.png"> Satisfy</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq1" ng-value="'1'" required><img src="IcoMoon-Free-master/PNG/32px/238-angry.png"> Less Satisfy</ion-radio>
</div>

   </div>
</p>
</div>
  
      
   </ion-slide>

   <ion-slide>
      <div class = "box box2">
      <p>
      <div class="card">
       <div class="item item-divider item-text-wrap">
       
       <h1><i class="icon ion-chatbubble"></i> Question 2</h1>
       <br>


        2. Course contents organized and easy to understand</div>
   

<div class="item item-text-wrap">
<ion-radio name="q1" ng-model="data.choiceq2" ng-value="'4'" required> <img src="IcoMoon-Free-master/PNG/32px/224-happy.png"> Very Good</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq2" ng-value="'3'" required><img src="IcoMoon-Free-master/PNG/32px/226-smile.png"> Good</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq2" ng-value="'2'" required><img src="IcoMoon-Free-master/PNG/32px/248-neutral.png"> Satisfy</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq2" ng-value="'1'" required><img src="IcoMoon-Free-master/PNG/32px/238-angry.png"> Less Satisfy</ion-radio>
</div>

   </div>
   </div>
</p>
</div>
  </ion-slide>

  <ion-slide>
      <div class = "box box3">
      <p>
      <div class="card">
       <div class="item item-divider item-text-wrap">
       <h1><i class="icon ion-chatbubble"></i> Question 3</h1>
       <br>
         3. Courses management
      </div>
<div class="item item-text-wrap">
<ion-radio name="q1" ng-model="data.choiceq3" ng-value="'4'" required> <img src="IcoMoon-Free-master/PNG/32px/224-happy.png"> Very Good</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq3" ng-value="'3'" required><img src="IcoMoon-Free-master/PNG/32px/226-smile.png"> Good</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq3" ng-value="'2'" required><img src="IcoMoon-Free-master/PNG/32px/248-neutral.png"> Satisfy</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq3" ng-value="'1'" required><img src="IcoMoon-Free-master/PNG/32px/238-angry.png"> Less Satisfy</ion-radio>
</div>

   </div>
   </div>
</p>
</div>
  </ion-slide>


    <ion-slide>
      <div class = "box box4">
      <p>
      <div class="card">
       <div class="item item-divider item-text-wrap">
       <h1><i class="icon ion-chatbubble"></i> Question 4</h1>
       <br>
         4. Courses Location
          </div>
<div class="item item-text-wrap">
<ion-radio name="q1" ng-model="data.choiceq4" ng-value="'4'" required> <img src="IcoMoon-Free-master/PNG/32px/224-happy.png"> Very Good</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq4" ng-value="'3'" required><img src="IcoMoon-Free-master/PNG/32px/226-smile.png"> Good</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq4" ng-value="'2'" required><img src="IcoMoon-Free-master/PNG/32px/248-neutral.png"> Satisfy</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq4" ng-value="'1'" required><img src="IcoMoon-Free-master/PNG/32px/238-angry.png"> Less Satisfy</ion-radio>
</div>
 
   </div>
   </div>
</p>
</div>
  </ion-slide>


    <ion-slide>
      <div class = "box box5">
         <p>
      <div class="card">
       <div class="item item-divider item-text-wrap">
       <h1><i class="icon ion-chatbubble"></i> Question 5</h1>
       <br>
        5. Presentation of speakers in accordance with the reception of participants
         </div>
<div class="item item-text-wrap">
<ion-radio name="q1" ng-model="data.choiceq5" ng-value="'4'" required> <img src="IcoMoon-Free-master/PNG/32px/224-happy.png"> Very Good</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq5" ng-value="'3'" required><img src="IcoMoon-Free-master/PNG/32px/226-smile.png"> Good</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq5" ng-value="'2'" required><img src="IcoMoon-Free-master/PNG/32px/248-neutral.png"> Satisfy</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq5" ng-value="'1'" required><img src="IcoMoon-Free-master/PNG/32px/238-angry.png"> Less Satisfy</ion-radio>
</div>

   </div>
   </div>
</p>
</div>
  </ion-slide>




    <ion-slide>
      <div class = "box box6">
        <p>
      <div class="card">
       <div class="item item-divider item-text-wrap">
       <h1><i class="icon ion-chatbubble"></i> Question 6</h1>
       <br>
         6. The speaker has a knowledge / skills taught extensively about topics
          </div>
<div class="item item-text-wrap">
<ion-radio name="q1" ng-model="data.choiceq6" ng-value="'4'" required> <img src="IcoMoon-Free-master/PNG/32px/224-happy.png"> Very Good</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq6" ng-value="'3'" required><img src="IcoMoon-Free-master/PNG/32px/226-smile.png"> Good</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq6" ng-value="'2'" required><img src="IcoMoon-Free-master/PNG/32px/248-neutral.png"> Satisfy</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq6" ng-value="'1'" required><img src="IcoMoon-Free-master/PNG/32px/238-angry.png"> Less Satisfy</ion-radio>
</div>

   </div>
   </div>
</p>
</div>
  </ion-slide>



    <ion-slide>
      <div class = "box box7">
         <p>
      <div class="card">
       <div class="item item-divider item-text-wrap">
       <h1><i class="icon ion-chatbubble"></i> Question 7</h1>
       <br>
         7. Speakers encouraged participants to ask questions and exchange ideas 
          </div>
<div class="item item-text-wrap">
<ion-radio name="q1" ng-model="data.choiceq7" ng-value="'4'" required> <img src="IcoMoon-Free-master/PNG/32px/224-happy.png"> Very Good</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq7" ng-value="'3'" required><img src="IcoMoon-Free-master/PNG/32px/226-smile.png"> Good</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq7" ng-value="'2'" required><img src="IcoMoon-Free-master/PNG/32px/248-neutral.png"> Satisfy</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq7" ng-value="'1'" required><img src="IcoMoon-Free-master/PNG/32px/238-angry.png"> Less Satisfy</ion-radio>
</div>

   </div>
</p>
</div>
  </ion-slide>

    <ion-slide>
      <div class = "box box8">
        <p>
      <div class="card">
       <div class="item item-divider item-text-wrap">
       <h1><i class="icon ion-chatbubble"></i> Question 8</h1>
       <br>
        8. Teaching aids used in fully
         </div>
<div class="item item-text-wrap">
<ion-radio name="q1" ng-model="data.choiceq8" ng-value="'4'" required> <img src="IcoMoon-Free-master/PNG/32px/224-happy.png"> Very Good</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq8" ng-value="'3'" required><img src="IcoMoon-Free-master/PNG/32px/226-smile.png"> Good</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq8" ng-value="'2'" required><img src="IcoMoon-Free-master/PNG/32px/248-neutral.png"> Satisfy</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq8" ng-value="'1'" required><img src="IcoMoon-Free-master/PNG/32px/238-angry.png"> Less Satisfy</ion-radio>
</div>

   </div>
   </div>
</p>
</div>
  </ion-slide>

    <ion-slide>
      <div class = "box box9">
        <p>
      <div class="card">
       <div class="item item-divider item-text-wrap">
       <h1><i class="icon ion-chatbubble"></i> Question 9</h1>
       <br>
         9. Speakers questions / exercises / activities to test comprehension
        </div>
<div class="item item-text-wrap">
<ion-radio name="q1" ng-model="data.choiceq9" ng-value="'4'" required> <img src="IcoMoon-Free-master/PNG/32px/224-happy.png"> Very Good</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq9" ng-value="'3'" required><img src="IcoMoon-Free-master/PNG/32px/226-smile.png"> Good</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq9" ng-value="'2'" required><img src="IcoMoon-Free-master/PNG/32px/248-neutral.png"> Satisfy</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq9" ng-value="'1'" required><img src="IcoMoon-Free-master/PNG/32px/238-angry.png"> Less Satisfy</ion-radio>
</div>

   </div>
   </div>
</p>
</div>
  </ion-slide>

    <ion-slide>
      <div class = "box box10">
         <p>
      <div class="card">
       <div class="item item-divider item-text-wrap">
       <h1><i class="icon ion-chatbubble"></i> Question 10</h1>
       <br>
        10. The skills / knowledge before the course begin
          </div>
<div class="item item-text-wrap">
<ion-radio name="q1" ng-model="data.choiceq10" ng-value="'4'" required> <img src="IcoMoon-Free-master/PNG/32px/224-happy.png"> Very Good</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq10" ng-value="'3'" required><img src="IcoMoon-Free-master/PNG/32px/226-smile.png"> Good</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq10" ng-value="'2'" required><img src="IcoMoon-Free-master/PNG/32px/248-neutral.png"> Satisfy</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq10" ng-value="'1'" required><img src="IcoMoon-Free-master/PNG/32px/238-angry.png"> Less Satisfy</ion-radio>
</div>
 
   </div>
   </div>
</p>
</div>
  </ion-slide>


    <ion-slide>
      <div class = "box box11">
         <p>
      <div class="card">
       <div class="item item-divider item-text-wrap">
       <h1><i class="icon ion-chatbubble"></i> Question 11</h1>
       <br>
        11. The skills / knowledge after the course
         </div>
<div class="item item-text-wrap">
<ion-radio name="q1" ng-model="data.choiceq11" ng-value="'4'" required> <img src="IcoMoon-Free-master/PNG/32px/224-happy.png"> Very Good</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq11" ng-value="'3'" required><img src="IcoMoon-Free-master/PNG/32px/226-smile.png"> Good</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq11" ng-value="'2'" required><img src="IcoMoon-Free-master/PNG/32px/248-neutral.png"> Satisfy</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq11" ng-value="'1'" required><img src="IcoMoon-Free-master/PNG/32px/238-angry.png"> Less Satisfy</ion-radio>
</div>

   </div>
   </div>
</p>
</div>
  </ion-slide>


    <ion-slide>
      <div class = "box box12">
        <p>
      <div class="card">
       <div class="item item-divider item-text-wrap">
       <h1><i class="icon ion-chatbubble"></i> Soalan 12</h1>
       <br>
         12. Use the knowledge gained in the project department
           </div>
<div class="item item-text-wrap">
<ion-radio name="q1" ng-model="data.choiceq12" ng-value="'4'" required> <img src="IcoMoon-Free-master/PNG/32px/224-happy.png"> Very Good</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq12" ng-value="'3'" required><img src="IcoMoon-Free-master/PNG/32px/226-smile.png"> Good</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq12" ng-value="'2'" required><img src="IcoMoon-Free-master/PNG/32px/248-neutral.png"> Satisfy</ion-radio>
<ion-radio name="q1" ng-model="data.choiceq12" ng-value="'1'" required><img src="IcoMoon-Free-master/PNG/32px/238-angry.png"> Less Satisfy</ion-radio>
</div>
 
   </div>
   </div>
</p>
</div>
  </ion-slide>



    <ion-slide>
      <div class = "box box12">
         <p>
      <div class="card">
       <div class="item item-divider item-text-wrap">
       <h1> Suggestion/Improvement</h1>
       <br>
         If you have any suggestions / improvements please fill in the field provided. 
           </div>
<div class="item item-text-wrap">
 <textarea class="boxsizingBorder" ng-model="data.qcadangan" > </textarea>
</div>
 <div class="item item-divider">
     <button class="button button-calm button-block" ng-click="appButang(data); appButang2(data);" ng-disabled="keneIsi.$invalid">Click to Submit</button>
   </div>
   </div>
</p>
</div>

  </ion-slide>



</ion-slide-box>

 </ion-content>



</ion-view>