<ion-view hide-nav-bar="true">

<ion-header-bar class="bar bar-stable">
     <h1 class="title">Title!</h1>
      <button class="button icon ion-chevron-left pull-left" ng-click="kembali()">Kembali</button>
     <button class="button icon ion-home pull-right" ng-click="patahBalik()"></button>
 </ion-header-bar>

<ion-content class="padding">
<h1>{{met}}</h1>

<ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>

<div class="card">
  <div class="item item-divider">
    Soalan 1 : Objektif kursus & pengetahuan 
      yang bakal diperolehi dinyatakan dengan dengan jelas
  </div>
  <div class="item item-text-wrap">
    <i class="kiri"><img src="IcoMoon-Free-master/PNG/32px/238-angry.png"> {{result14}}</i>
    <i class="tengahKiri"><img src="IcoMoon-Free-master/PNG/32px/248-neutral.png"> {{result13}}</i>
    <i class="tengahKanan"><img src="IcoMoon-Free-master/PNG/32px/226-smile.png"> {{result12}}</i>
    <i class="kanan"><img src="IcoMoon-Free-master/PNG/32px/224-happy.png"> {{result11}}</i>
  </div>
</div>

<div class="card">
  <div class="item item-divider">
    Soalan 2 : Kandungan kursus tersusun dan mudah difahami
  </div>
  <div class="item item-text-wrap">
   <i class="kiri"><img src="IcoMoon-Free-master/PNG/32px/238-angry.png"> {{result24}}</i>
    <i class="tengahKiri"><img src="IcoMoon-Free-master/PNG/32px/248-neutral.png"> {{result23}}</i>
    <i class="tengahKanan"><img src="IcoMoon-Free-master/PNG/32px/226-smile.png"> {{result22}}</i>
    <i class="kanan"><img src="IcoMoon-Free-master/PNG/32px/224-happy.png"> {{result21}}</i>
  </div>
</div>

<div class="card">
  <div class="item item-divider">
    Soalan 3 : Pengurusan kursus
  </div>
  <div class="item item-text-wrap">
    <i class="kiri"><img src="IcoMoon-Free-master/PNG/32px/238-angry.png"> {{result34}}</i>
    <i class="tengahKiri"><img src="IcoMoon-Free-master/PNG/32px/248-neutral.png"> {{result33}}</i>
    <i class="tengahKanan"><img src="IcoMoon-Free-master/PNG/32px/226-smile.png"> {{result32}}</i>
    <i class="kanan"><img src="IcoMoon-Free-master/PNG/32px/224-happy.png"> {{result31}}</i>
  </div>
</div>

<div class="card">
  <div class="item item-divider">
    Soalan 4 : Lokasi kursus
  </div>
  <div class="item item-text-wrap">
   <i class="kiri"><img src="IcoMoon-Free-master/PNG/32px/238-angry.png"> {{result44}}</i>
    <i class="tengahKiri"><img src="IcoMoon-Free-master/PNG/32px/248-neutral.png"> {{result43}}</i>
    <i class="tengahKanan"><img src="IcoMoon-Free-master/PNG/32px/226-smile.png"> {{result42}}</i>
    <i class="kanan"><img src="IcoMoon-Free-master/PNG/32px/224-happy.png"> {{result41}}</i>
  </div>
</div>

<div class="card">
  <div class="item item-divider">
  Soalan 5 : Penyampaian penceramah sesuai dengan penerimaan peserta
  </div>
  <div class="item item-text-wrap">
   <i class="kiri"><img src="IcoMoon-Free-master/PNG/32px/238-angry.png"> {{result54}}</i>
    <i class="tengahKiri"><img src="IcoMoon-Free-master/PNG/32px/248-neutral.png"> {{result53}}</i>
    <i class="tengahKanan"><img src="IcoMoon-Free-master/PNG/32px/226-smile.png"> {{result52}}</i>
    <i class="kanan"><img src="IcoMoon-Free-master/PNG/32px/224-happy.png"> {{result51}}</i>
  </div>
</div>

<div class="card">
  <div class="item item-divider">
  Soalan 6 : Penceramah mempunyai pengetahuan/kemahiran yang luas tentang topik yang diajar

  </div>
  <div class="item item-text-wrap">
    <i class="kiri"><img src="IcoMoon-Free-master/PNG/32px/238-angry.png"> {{result64}}</i>
    <i class="tengahKiri"><img src="IcoMoon-Free-master/PNG/32px/248-neutral.png"> {{result63}}</i>
    <i class="tengahKanan"><img src="IcoMoon-Free-master/PNG/32px/226-smile.png"> {{result62}}</i>
    <i class="kanan"><img src="IcoMoon-Free-master/PNG/32px/224-happy.png"> {{result61}}</i>
  </div>
</div>

<div class="card">
  <div class="item item-divider">
      Soalan 7 : Penceramah mengalakkan peserta bertanya dan bertukar pendapat 
   
  </div>
  <div class="item item-text-wrap">
   <i class="kiri"><img src="IcoMoon-Free-master/PNG/32px/238-angry.png"> {{result74}}</i>
    <i class="tengahKiri"><img src="IcoMoon-Free-master/PNG/32px/248-neutral.png"> {{result73}}</i>
    <i class="tengahKanan"><img src="IcoMoon-Free-master/PNG/32px/226-smile.png"> {{result72}}</i>
    <i class="kanan"><img src="IcoMoon-Free-master/PNG/32px/224-happy.png"> {{result71}}</i>
  </div>
</div>

<div class="card">
  <div class="item item-divider">
   Soalan 8 : Alat bantuan mengajar digunakan sepenuhnya
   
  </div>
  <div class="item item-text-wrap">
  <i class="kiri"><img src="IcoMoon-Free-master/PNG/32px/238-angry.png"> {{result84}}</i>
    <i class="tengahKiri"><img src="IcoMoon-Free-master/PNG/32px/248-neutral.png"> {{result83}}</i>
    <i class="tengahKanan"><img src="IcoMoon-Free-master/PNG/32px/226-smile.png"> {{result82}}</i>
    <i class="kanan"><img src="IcoMoon-Free-master/PNG/32px/224-happy.png"> {{result81}}</i>
  </div>
</div>

<div class="card">
  <div class="item item-divider">
   Soalan 9 : Penceramah mengemukakan soalan/latihan/aktiviti untuk menguji kefahaman
    
  </div>
  <div class="item item-text-wrap">
  <i class="kiri"><img src="IcoMoon-Free-master/PNG/32px/238-angry.png"> {{result94}}</i>
    <i class="tengahKiri"><img src="IcoMoon-Free-master/PNG/32px/248-neutral.png"> {{result93}}</i>
    <i class="tengahKanan"><img src="IcoMoon-Free-master/PNG/32px/226-smile.png"> {{result92}}</i>
    <i class="kanan"><img src="IcoMoon-Free-master/PNG/32px/224-happy.png"> {{result91}}</i>
  </div>
</div>

<div class="card">
  <div class="item item-divider">
  Soalan 10 : Nilai kemahiran / pengetahuan sebelum kursus
  
  </div>
  <div class="item item-text-wrap">
   <i class="kiri"><img src="IcoMoon-Free-master/PNG/32px/238-angry.png"> {{result104}}</i>
    <i class="tengahKiri"><img src="IcoMoon-Free-master/PNG/32px/248-neutral.png"> {{result103}}</i>
    <i class="tengahKanan"><img src="IcoMoon-Free-master/PNG/32px/226-smile.png"> {{result102}}</i>
    <i class="kanan"><img src="IcoMoon-Free-master/PNG/32px/224-happy.png"> {{result101}}</i>
  </div>
</div>

<div class="card">
  <div class="item item-divider">
   Soalan 11 : Nilai kemahiran / pengetahuan selepas kursus
   
  </div>
  <div class="item item-text-wrap">
  <i class="kiri"><img src="IcoMoon-Free-master/PNG/32px/238-angry.png"> {{result114}}</i>
    <i class="tengahKiri"><img src="IcoMoon-Free-master/PNG/32px/248-neutral.png"> {{result113}}</i>
    <i class="tengahKanan"><img src="IcoMoon-Free-master/PNG/32px/226-smile.png"> {{result112}}</i>
    <i class="kanan"><img src="IcoMoon-Free-master/PNG/32px/224-happy.png"> {{result111}}</i>
  </div>
</div>

<div class="card">
  <div class="item item-divider">
   Soalan 12 : Kegunaan pengetahuan yang diperolehi dalam tugas jabatan
  </div>
  <div class="item item-text-wrap">
  <i class="kiri"><img src="IcoMoon-Free-master/PNG/32px/238-angry.png"> {{result124}}</i>
    <i class="tengahKiri"><img src="IcoMoon-Free-master/PNG/32px/248-neutral.png"> {{result123}}</i>
    <i class="tengahKanan"><img src="IcoMoon-Free-master/PNG/32px/226-smile.png"> {{result122}}</i>
    <i class="kanan"><img src="IcoMoon-Free-master/PNG/32px/224-happy.png"> {{result121}}</i>
  </div>
</div>



</ion-content>
</ion-view>