<ion-view  hide-nav-bar="true">

<ion-header-bar class="bar bar-stable">
     <h1 class="title">Data</h1>
     <button class="button icon ion-home pull-right" ng-click="patahBalik()"></button>
 </ion-header-bar>


<ion-header-bar class="bar bar-stable">
     <h1 class="title">Maklum balas peserta</h1>
     <button class="button icon ion-home pull-right" ng-click="patahBalik()"></button>
 </ion-header-bar>

<ion-content>
<div class="list">

    <a class="item item-thumbnail-right" href="#">
      <img src="img/uitm.png">
      <h2>Kursus Excel</h2>
      <p>30 peserta</p>
      <p>26/11/2016 hingga 26/11/2016</p>
      <p>PTAR UiTM Puncak Alam</p>
    </a>

 <a class="item item-thumbnail-right" href="#">
      <img src="img/aiman.jpg">
      <h2>Aiman Tino</h2>
      <p>100 peserta</p>
      <p>28/11/2016 hingga 29/11/2016</p>
      <p>
    </a>
</div>

</ion-content>
</ion-view>