<ion-view  hide-nav-bar="true">

<ion-header-bar class="bar bar-stable">
     <h1 class="title">Dashboard</h1>
     <button class="button icon ion-home pull-right" ng-click="patahBalik()"></button>
 </ion-header-bar>

<ion-content class="padding">

<div class="card">
  <div class="item item-divider">
    Total Users
  </div>
  <div class="item item-text-wrap">
    Admins : {{data}}<br/>
    Participants : -
  </div>
</div>

<div class="card">
  <div class="item item-divider">
    Total of evaluation
  </div>
  <div class="item item-text-wrap">
    Overall : {{data2}}
  </div>
</div>

<div class="card">
  <div class="item item-divider">
    Total Courses/Workshops
  </div>
  <div class="item item-text-wrap">
    Overall : {{data3}}
  </div>
</div>

  </ion-content>
  </ion-view>