<ion-view>


<ion-tabs class="tabs-icon-top ">
 
 
 <!-- Dashboard Tab -->
 <ion-tab title="Utama" icon="ion-android-home" href="#/tab/dash">
 <ion-nav-view name="tab-dash"></ion-nav-view>
 </ion-tab>
 
 
 <!-- Friends Tab -->
 <ion-tab title="Data" icon="ion-stats-bars" href="#/tab/data">
 <ion-nav-view name="tab-data"></ion-nav-view>
 </ion-tab>
 
 
 <!-- Account Tab -->
 <ion-tab title="Kursus" icon="icon ion-clipboard" href="#/tab/kursus">
 <ion-nav-view name="tab-kursus"></ion-nav-view>
 </ion-tab>
 
 
</ion-tabs>
</ion-view>